<!doctype html>
<html>
<head>
    <title>SBSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        tr {
            cursor: pointer;
        }
        /*tr:hover {*/
        /*    background-color: deeppink;*/
        /*}*/
        td:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
    <th>Company Name</th>
    <th>Position</th>
    <th>Level</th>
    <th>Date Posted</th>
    <th>Time Posted</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>
            <input class="form-control" id="position-filter" onkeyup="onFiltersKeyUp();">
        </td>
        <td>
            <select class="form-control" id="level-filter" onchange="onLevelFilter();">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </td>
        <td></td>
        <td></td>
        <td><button class="btn btn-primary" onclick="onClearFilters();">Clear Filters</button></td>
    </tr>
    {{#each data}}
        <tr onclick="onRowClick(event);" data-link="{{this.9.value}}">
            <td>{{this.0.value}}</td>
            <td>{{this.1.value}}</td>
            <td>{{this.2.value}}</td>
            <td>{{this.3.value}}</td>
            <td>{{this.4.value}}</td>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>
<script type="text/javascript">
    const onFiltersKeyUp = _.debounce(() => {
        const href = window.location.origin + window.location.pathname;
        const value = document.getElementById('position-filter').value;
        const newSearch = Qs.stringify( value ? {
            ...parsedSearch(),
            position: value
        } : removeKey('position'));
        return window.location.replace(href + '?' + newSearch);
    }, 500);

    function removeKey(key) {
        const parsed = parsedSearch();
        delete parsed[key];
        return parsed;
    }

    function parsedSearch() {
        const search = window.location.search;
        return Qs.parse(search.replace(/^\?/, ''));
    }

    function onLevelFilter() {
        const href = window.location.origin + window.location.pathname;
        const value = document.getElementById('level-filter').value;
        const newSearch = Qs.stringify(value ? {
            ...parsedSearch(),
            level: value
        } : removeKey('level'));
        return window.location.replace(href + '?' + newSearch);
    }

    function onRowClick(e) {
        const dataset = e.target.parentNode.dataset;
        if (dataset.link) {
          window.open(dataset.link, '_blank');
        }
    }

    function onClearFilters() {
        const href = window.location.origin + window.location.pathname;
        return window.location.replace(href);
    }

    if (window.location.search) {
        const searchObject = Qs.parse(window.location.search.replace(/^\?/, ''));

        if (searchObject.position) {
            document.getElementById('position-filter').value = searchObject.position;
        }

        if (searchObject.level) {
            document.getElementById('level-filter').value = searchObject.level;
        }
    }
</script>
</body>
</html>
