<!doctype html>
<html>
<head>
    <title>SBSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/lightpick.css">
    <style>
        tr {
            cursor: pointer;
        }
        /*tr:hover {*/
        /*    background-color: deeppink;*/
        /*}*/
        td:hover {
            text-decoration: underline;
        }

        .table {
            border-spacing: 0px;
            border-color: #FFFFFF;
            border-collapse: separate;
        }

        .table thead th {
            position: sticky;
            top: 0;
            background-color: #FFFFFF;
            border-bottom: 2px solid #dee2e6;
        }

        .table .filter-row td {
            position: sticky;
            top: 50px;
            background-color: #FFFFFF;
            border-top: 0px;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
    <th>Company Name</th>
    <th>Position</th>
    <th>Level</th>
    <th>Date Posted</th>
    <th>State</th>
    <th>City</th>
    <th>Industry</th>
    <th>Description</th>
    <th></th>
    </thead>
    <tbody>
    <tr class="filter-row">
        <td> 
            <input class="form-control" id="company-filter" onkeyup="onFiltersKeyUpCompany();"></td>
        <td>
            <input class="form-control" id="position-filter" onkeyup="onFiltersKeyUp();">
        </td>
        <td>
            <select class="form-control" id="level-filter" onchange="onLevelFilter();">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </td>
        <td>
            <input class="form-control" id="date-posted-filter">
        </td>
        <td>
             <input class="form-control" id="state-filter" onkeyup="onFiltersKeyUpState();">
        </td>
        <td>
            <input class="form-control" id="city-filter" onkeyup="onFiltersKeyUpCity();">
        </td>
        <td>
                <select class="form-control" id="industry-filter" onchange="onIndustryFilter();">
                <option value=""></option>
                <option value="Solar">Solar</option>
                <option value="Storage">Storage</option>
            </select>
        </td>
        <td>
            <input class="form-control" id="description-filter" onkeyup="onFiltersKeyUpDescription();"></td>    
        </td>
        <td><button class="btn btn-primary" onclick="onClearFilters();">Clear Filters</button></td>
    </tr>
   {{#each data}}
        <tr onclick="onRowClick(event);" data-link="{{lookup this "link"}}">
            <td>{{lookup this "company name"}}</td>
            <td>{{lookup this "position"}}</td>
            <td>{{lookup this "level"}}</td>
            <td>{{lookup this "date posted"}}</td>
            <td>{{lookup this "state"}}</td>
            <td>{{lookup this "city"}}</td>
            <td>{{lookup this "industry"}}</td>
            <td>{{lookup this "description"}}</td>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="/static/assets/js/client.js"></script>
<script type="text/javascript" src="/static/assets/js/vendor/lightpick.js"></script>
<script type="text/javascript">
    const onFiltersKeyUp = createKeyUpHandler('position-filter', 'position');

    const onFiltersKeyUpCompany = createKeyUpHandler('company-filter', 'company');

    const onFiltersKeyUpState = createKeyUpHandler('state-filter', 'state');

    const onFiltersKeyUpCity = createKeyUpHandler('city-filter', 'city');

    const onLevelFilter = createKeyUpHandler('level-filter', 'level', 0);

    const onIndustryFilter = createKeyUpHandler('industry-filter', 'industry', 0);

    const onFiltersKeyUpDescription = createKeyUpHandler('description-filter', 'description');

    let startDate, endDate;
    if (window.location.search) {
        const searchObject = initializeFromSearch({
            company: 'company-filter',
            position: 'position-filter',
            state: 'state-filter',
            city: 'city-filter',
            level: 'level-filter',
            industry: 'industry-filter',
            description: 'description-filter'
        });

        if (searchObject.start) {
            startDate = moment(searchObject.start, 'YYYYMMDD');
        }
        if (searchObject.end) {
            endDate = moment(searchObject.end, 'YYYYMMDD');
        }
    }

    const datePosted = new Lightpick({
        field: document.getElementById('date-posted-filter'),
        format: 'MM/DD/YYYY',
        singleDate: false,
        repick: true,
        startDate,
        endDate,
        onSelect: (start, end) => {
          if (start && end) {
              const href = window.location.origin + window.location.pathname;
              const newQuery = {};
              if (start && start.isValid()) {
                  newQuery.start = start.format('YYYYMMDD');
              }
              if (end && end.isValid()) {
                  newQuery.end = end.format('YYYYMMDD');
              }
              const newSearch = Qs.stringify(newQuery);
              return window.location.replace(href + '?' + newSearch);
          }
        }
    });
</script>
</body>
</html>
